@keyframes completion {
  100% {
    background-size: 300% 100%;
    background-position: 100% 0;
  }
}

.complete {
  background-size: 100% 100%;
  background-position: 0px 0px;
  animation-name: completion;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
